main.json
{
  "name": "multi modal content generator and publisher",
  "nodes": [
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Filter top ideas').item.json.output.youtube_content.title }}",
        "regionCode": "IN",
        "categoryId": "1",
        "options": {
          "description": "={{ $('Filter top ideas').item.json.output.youtube_content.description }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1360,
        352
      ],
      "id": "85cea4ee-342e-4f43-9566-6eb2b8b8a446",
      "name": "Upload a video",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "GxBy7aueaQk32EJi",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        192,
        688
      ],
      "id": "85da876a-5502-4a06-ba17-197c27d06296",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "CIWxuuOIokVL11Jb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        192,
        480
      ],
      "id": "75846672-0efc-436c-8b56-6f9cbcd24021",
      "name": "Think1"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"virality_score\": {\n      \"type\": \"number\",\n      \"minimum\": 0,\n      \"maximum\": 100,\n      \"description\": \"Viral potential score based on engagement, controversy, relatability, and shareability\"\n    },\n    \"virality_analysis\": {\n      \"type\": \"string\",\n      \"description\": \"Brief explanation of why this content could go viral\"\n    },\n    \"twitter_image\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"dalle_prompt\": {\n          \"type\": \"string\",\n          \"description\": \"Detailed DALL-E prompt for creating an eye-catching, shareable image. Include style, colors, composition, mood, and key visual elements.\"\n        },\n        \"viral_caption\": {\n          \"type\": \"string\",\n          \"maxLength\": 280,\n          \"description\": \"Hook-driven caption under 280 chars with strategic line breaks, relevant emojis, and 2-3 trending hashtags\"\n        }\n      },\n      \"required\": [\"dalle_prompt\", \"viral_caption\"]\n    },\n    \"video_clip_8sec\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"concept\": {\n          \"type\": \"string\",\n          \"description\": \"Detailed 8-second video concept with specific shot descriptions, text overlays, and transitions\"\n        },\n        \"script\": {\n          \"type\": \"string\",\n          \"description\": \"Punchy voiceover or text overlay script that builds curiosity and delivers value in 8 seconds\"\n        },\n        \"viral_caption\": {\n          \"type\": \"string\",\n          \"description\": \"Compelling caption that creates FOMO or curiosity, includes call-to-action, emojis, and 2-3 hashtags\"\n        },\n        \"visual_style\": {\n          \"type\": \"string\",\n          \"description\": \"Visual style: modern/minimal/bold/cinematic/trendy, with color palette and motion style\"\n        },\n        \"music_mood\": {\n          \"type\": \"string\",\n          \"enum\": [\"upbeat\", \"dramatic\", \"suspenseful\", \"chill\", \"energetic\", \"emotional\"],\n          \"description\": \"Background music mood suggestion\"\n        }\n      },\n      \"required\": [\"concept\", \"script\", \"viral_caption\", \"visual_style\", \"music_mood\"]\n    },\n    \"youtube_content\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"title\": {\n          \"type\": \"string\",\n          \"maxLength\": 60,\n          \"description\": \"SEO-optimized, clickable title with power words\"\n        },\n        \"description\": {\n          \"type\": \"string\",\n          \"description\": \"Compelling description with keywords, timestamps, call-to-action, and 8-10 relevant hashtags\"\n        },\n        \"video_script\": {\n          \"type\": \"string\",\n          \"description\": \"Engaging 60-second script with hook, context, main content, and strong CTA with timing markers\"\n        }\n      },\n      \"required\": [\"title\", \"description\", \"video_script\"]\n    },\n    \"instagram_post\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"caption\": {\n          \"type\": \"string\",\n          \"description\": \"Engaging caption with line breaks, 10-15 emojis, storytelling elements, and 20-30 hashtags at the end\"\n        },\n        \"carousel_ideas\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\"\n          },\n          \"minItems\": 3,\n          \"maxItems\": 5,\n          \"description\": \"Ideas for Instagram carousel slides\"\n        }\n      },\n      \"required\": [\"caption\", \"carousel_ideas\"]\n    },\n    \"telegram_message\": {\n      \"type\": \"string\",\n      \"description\": \"Formatted message with bold/italic markdown, emojis, and clear structure for Telegram\"\n    },\n    \"tags\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"minItems\": 5,\n      \"maxItems\": 10,\n      \"description\": \"Relevant content tags\"\n    },\n    \"content_strategy\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"best_posting_times\": {\n          \"type\": \"string\",\n          \"description\": \"Optimal posting times based on content type\"\n        },\n        \"target_audience\": {\n          \"type\": \"string\",\n          \"description\": \"Primary audience definition\"\n        },\n        \"engagement_tactics\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\"\n          },\n          \"minItems\": 3,\n          \"maxItems\": 5,\n          \"description\": \"Specific tactics to boost engagement\"\n        }\n      },\n      \"required\": [\"best_posting_times\", \"target_audience\", \"engagement_tactics\"]\n    }\n  },\n  \"required\": [\n    \"virality_score\",\n    \"virality_analysis\",\n    \"twitter_image\",\n    \"video_clip_8sec\",\n    \"youtube_content\",\n    \"instagram_post\",\n    \"telegram_message\",\n    \"tags\",\n    \"content_strategy\"\n  ]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        320,
        480
      ],
      "id": "28a7e000-bffc-4a03-bd7d-d44d65a2f1d6",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.x.com/2/media/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "media_category",
              "value": "tweet_image"
            },
            {
              "parameterType": "formBinaryData",
              "name": "media",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        -32
      ],
      "id": "0a67a169-4d15-41f6-8c4a-10fa6585e04a",
      "name": "HTTP Request",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "mh2bBYU34R6ejAqj",
          "name": "X account"
        },
        "oAuth2Api": {
          "id": "7s9YBPDOJI83C3gA",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $('Filter top ideas').item.json.output.twitter_image.viral_caption }}",
        "additionalFields": {
          "attachments": "={{ $json.data.id }}"
        }
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        1584,
        -32
      ],
      "id": "c2fb2e51-d350-4e1e-a87e-fd7a94df71c5",
      "name": "Create Tweet",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "mh2bBYU34R6ejAqj",
          "name": "X account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        64,
        480
      ],
      "id": "662ba99b-b175-4c06-b581-af28f8530308",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "getAll",
        "subreddit": "all",
        "filters": {}
      },
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [
        -624,
        256
      ],
      "id": "adaeb8f8-16f3-4422-8679-33a3f2d9f08e",
      "name": "Scrape Trendy post from reddit",
      "credentials": {
        "redditOAuth2Api": {
          "id": "0ECJG8fq32ik27zj",
          "name": "Reddit account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -848,
        256
      ],
      "id": "4be1b67b-6ce4-4f29-be59-fcb53e462271",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "ups",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -400,
        256
      ],
      "id": "390ae8c0-663e-426b-a909-690b6e628f43",
      "name": "Sort posts based on virality"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -176,
        256
      ],
      "id": "9a1cab52-3c68-4c16-887b-fa0b5c02404f",
      "name": "Filter Top 5 Posts"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Reddit Content Analyzer & Viral Content Generator\n\nYou are an expert content strategist and viral content creator. Analyze the provided Reddit post and generate comprehensive content for multiple platforms.\n\n## INPUT DATA:\n- Title: {{ $json.title }}\n- Content: {{ $json.selftext }}\n- Upvotes: {{ $json.ups }}\n- Comments: {{ $json.num_comments }}\n\n## YOUR TASK:\nAnalyze the Reddit post's viral potential and create optimized content for social media platforms. Focus on creating two primary assets:\n1. A static image for Twitter/X with viral caption\n2. An 8-second video concept with viral caption\n\n## OUTPUT FORMAT:\nProvide a valid JSON response with the following structure:\n\n```json\n{\n  \"virality_score\": <0-100, based on engagement, controversy, relatability, and shareability>,\n  \"virality_analysis\": \"<brief explanation of why this content could go viral>\",\n  \n  \"twitter_image\": {\n    \"dalle_prompt\": \"<detailed DALL-E prompt for creating an eye-catching, shareable image that captures the essence of the Reddit post. Include style, colors, composition, mood, and key visual elements. Make it scroll-stopping and memorable.>\",\n    \"viral_caption\": \"<hook-driven caption under 280 chars with strategic use of line breaks, relevant emojis, and 2-3 trending hashtags. Start with a curiosity gap or strong statement.>\"\n  },\n  \n  \"video_clip_8sec\": {\n    \"concept\": \"<detailed 8-second video concept with specific shot descriptions, text overlays, transitions, and visual hooks. Break down second-by-second if needed.>\",\n    \"script\": \"<punchy voiceover or text overlay script that builds curiosity and delivers value in 8 seconds>\",\n    \"viral_caption\": \"<compelling caption for video post that creates FOMO or curiosity, includes call-to-action, uses emojis strategically, and 2-3 hashtags>\",\n    \"visual_style\": \"<specify: modern/minimal/bold/cinematic/trendy, with color palette and motion style>\",\n    \"music_mood\": \"<suggest background music mood: upbeat/dramatic/suspenseful/chill>\"\n  },\n  \n  \"youtube_content\": {\n    \"title\": \"<60 chars max, SEO-optimized, clickable title with power words>\",\n    \"description\": \"<compelling description with keywords, timestamps, call-to-action, and 8-10 relevant hashtags>\",\n    \"video_script\": \"<engaging 60-second script with hook, context, main content, and strong CTA. Include timing markers [0:00-0:05], [0:05-0:15], etc.>\"\n  },\n  \n  \"instagram_post\": {\n    \"caption\": \"<engaging caption with line breaks, 10-15 relevant emojis, storytelling elements, and 20-30 hashtags grouped at the end>\",\n    \"carousel_ideas\": [\"<idea 1>\", \"<idea 2>\", \"<idea 3>\"]\n  },\n  \n  \"telegram_message\": \"<formatted message with bold/italic markdown, emojis, and clear structure that works in Telegram's format>\",\n  \n  \"tags\": [\"<tag1>\", \"<tag2>\", \"<tag3>\", \"<tag4>\", \"<tag5>\"],\n  \n  \"content_strategy\": {\n    \"best_posting_times\": \"<suggest optimal posting times based on content type>\",\n    \"target_audience\": \"<define the primary audience>\",\n    \"engagement_tactics\": [\"<tactic 1>\", \"<tactic 2>\", \"<tactic 3>\"]\n  }\n}\n```\n\n## GUIDELINES:\n\n### For Twitter Image (DALL-E Prompt):\n- Create prompts that generate scroll-stopping visuals\n- Include specific art styles (e.g., \"3D render\", \"minimalist illustration\", \"photorealistic\", \"bold graphic design\")\n- Specify color schemes that pop on Twitter's feed\n- Include text placement suggestions if needed\n- Make it shareable and meme-worthy when appropriate\n- Consider trending visual aesthetics\n\n### For Viral Captions:\n- Start with a hook that creates curiosity or emotion\n- Use strategic line breaks for readability\n- Include power words (exclusive, secret, shocking, mind-blowing, etc.)\n- Add 2-3 trending, relevant hashtags (research current trends)\n- Create FOMO (Fear Of Missing Out)\n- Include implicit or explicit call-to-action\n- Use emojis that enhance, not distract\n\n### For 8-Second Video Concept:\n- Design for silent viewing (70% of users watch without sound)\n- Include bold text overlays with key message\n- Create a visual hook in the first 1 second\n- Build tension or curiosity throughout\n- End with a payoff or cliffhanger\n- Optimize for vertical (9:16) or square (1:1) format\n- Suggest dynamic transitions and motion graphics\n\n### General Best Practices:\n- Adapt the core message for each platform's culture\n- Maintain authenticity while optimizing for virality\n- Ensure all content is factually accurate to the source\n- Use platform-specific features (Twitter threads, IG carousels, etc.)\n- Consider accessibility (alt text suggestions, captions)\n\n## IMPORTANT:\n- Return ONLY valid JSON, no additional text\n- Ensure all string values are properly escaped\n- Keep all content appropriate and brand-safe\n- Make content actionable and valuable to the audience\n- Prioritize shareability and engagement potential",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        48,
        256
      ],
      "id": "5f493335-0bcc-411d-86c4-c2d2c4f11510",
      "name": "Viral Content Generator"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "output.virality_score",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        688,
        256
      ],
      "id": "2fde8d45-be90-4fd4-a58f-2f9ba90122f9",
      "name": "Sort ideas based on virality score"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        912,
        256
      ],
      "id": "9f97d3a3-aa44-43e2-8892-77e6822a9993",
      "name": "Filter top ideas"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841472943134441",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1968,
        -224
      ],
      "id": "d337685a-7d47-4dd9-8d59-84bdeb6c2a4f",
      "name": "Instagram Post",
      "credentials": {
        "facebookGraphApi": {
          "id": "839tKBuLp8GbtbML",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841472943134441",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1952,
        736
      ],
      "id": "bc31bf97-27a3-4787-90e4-46d9806f9a97",
      "name": "Instagram Reel",
      "credentials": {
        "facebookGraphApi": {
          "id": "839tKBuLp8GbtbML",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $json.id }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1Mjp3nEon0_98TleMT4UZoMWKBG3039Bh",
          "mode": "list",
          "cachedResultName": "aidemos_videos",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Mjp3nEon0_98TleMT4UZoMWKBG3039Bh"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1360,
        736
      ],
      "id": "4afd4153-339b-453d-b30a-d071cabbb3f5",
      "name": "Upload video",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OnYaBrVyZSUdEMRx",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $json.id }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1jJEzXHMNKeKrcoVIXSTgwQ8s1BE8QP8u",
          "mode": "list",
          "cachedResultName": "aidemos_images",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1jJEzXHMNKeKrcoVIXSTgwQ8s1BE8QP8u"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1360,
        -224
      ],
      "id": "cff7d2ed-aded-4870-ae75-45af1436d353",
      "name": "Upload image",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OnYaBrVyZSUdEMRx",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "@n8ntelegrama",
        "binaryData": true,
        "additionalFields": {
          "caption": "={{ $('Filter top ideas').item.json.output.youtube_content.title }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1360,
        544
      ],
      "id": "3c6db68a-bb70-4710-bf94-6b9c8a6a3402",
      "name": "Post video to telegram channel",
      "webhookId": "34201177-0e73-4de3-b595-54bb2e64b282",
      "credentials": {
        "telegramApi": {
          "id": "JpW8hBC9dEp1v7FE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "@n8ntelegrama",
        "binaryData": true,
        "additionalFields": {
          "caption": "={{ $('Filter top ideas').item.json.output.twitter_image.viral_caption }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1360,
        160
      ],
      "id": "ece8761a-7c76-4924-a08e-17aa100b0cb6",
      "name": "Post photo to telegram channel",
      "webhookId": "835043ea-94fd-449c-98e9-0327939688fc",
      "credentials": {
        "telegramApi": {
          "id": "JpW8hBC9dEp1v7FE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/imagen-4.0-fast-generate-001",
          "mode": "list",
          "cachedResultName": "models/imagen-4.0-fast-generate-001"
        },
        "prompt": "={{ $json.output.twitter_image.dalle_prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1136,
        -32
      ],
      "id": "3ac31530-1a5c-4b33-adbf-4c70503f5526",
      "name": "Generate image",
      "credentials": {
        "googlePalmApi": {
          "id": "MyS4AcaHMwUWPVbl",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "modelId": {
          "__rl": true,
          "value": "models/veo-3.1-generate-preview",
          "mode": "list",
          "cachedResultName": "models/veo-3.1-generate-preview"
        },
        "prompt": "=# AI Video Generation Prompt\n\nGenerate a vertical 9:16 social media video with the following specifications:\n\n## Video Parameters\n- **Duration:** 8 seconds\n- **Aspect Ratio:** 9:16 (vertical/mobile-optimized)\n- **Visual Style:** {{ $json.output.video_clip_8sec.visual_style }}\n- **Audio:** {{ $json.output.video_clip_8sec.music_mood }}\n\n## Video Concept\n{{ $json.output.video_clip_8sec.concept }}\n\n## Script\n{{ $json.output.video_clip_8sec.script }}\n\n## Caption\n{{ $json.output.video_clip_8sec.viral_caption }}\n\n\n**Target Audience:** {{ $json.output.content_strategy.target_audience }}\n\n**Tags:** {{ $json.output.tags }}\n\nGenerate this video based on the specifications above and it sshould conclude in the 8 seconds itself.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1136,
        544
      ],
      "id": "31f864ae-f7dd-446d-9a8c-d7d4be7c0c50",
      "name": "Generate video",
      "credentials": {
        "googlePalmApi": {
          "id": "MyS4AcaHMwUWPVbl",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "writer",
            "type": "anyone",
            "allowFileDiscovery": true
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1584,
        -224
      ],
      "id": "2f6ea4d9-9634-4158-b1d3-5afce19c4428",
      "name": "share image",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OnYaBrVyZSUdEMRx",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "writer",
            "type": "anyone",
            "allowFileDiscovery": true
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1584,
        736
      ],
      "id": "49711907-bd4d-45a3-8b6c-05ba3c80df27",
      "name": "share video",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OnYaBrVyZSUdEMRx",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841472943134441",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "video_url",
                "value": "={{ $('Upload image').item.json.webViewLink }}"
              },
              {
                "name": "caption",
                "value": "={{ $('Filter top ideas').item.json.output.twitter_image.viral_caption }}"
              },
              {
                "name": "media_type",
                "value": "REELS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1808,
        -224
      ],
      "id": "6dffd150-f481-4094-8c21-54ec579aab83",
      "name": "Facebook Image Container",
      "credentials": {
        "facebookGraphApi": {
          "id": "839tKBuLp8GbtbML",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841472943134441",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "video_url",
                "value": "=https://drive.google.com/file/d/1MrncMkPeAFXn9ovg-plqKgVFMFkQjXgq/view?usp=drivesdk"
              },
              {
                "name": "caption",
                "value": "=hello"
              },
              {
                "name": "media_type",
                "value": "REELS"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1808,
        736
      ],
      "id": "579719f6-b6b4-4ac8-936b-ce71c5e955a9",
      "name": "Facebook Reel Container",
      "credentials": {
        "facebookGraphApi": {
          "id": "839tKBuLp8GbtbML",
          "name": "Facebook Graph account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Viral Content Generator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think1": {
      "ai_tool": [
        [
          {
            "node": "Viral Content Generator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Viral Content Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Create Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a video": {
      "main": [
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Viral Content Generator",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Trendy post from reddit": {
      "main": [
        [
          {
            "node": "Sort posts based on virality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Scrape Trendy post from reddit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort posts based on virality": {
      "main": [
        [
          {
            "node": "Filter Top 5 Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Top 5 Posts": {
      "main": [
        [
          {
            "node": "Viral Content Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Viral Content Generator": {
      "main": [
        [
          {
            "node": "Sort ideas based on virality score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort ideas based on virality score": {
      "main": [
        [
          {
            "node": "Filter top ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter top ideas": {
      "main": [
        [
          {
            "node": "Generate image",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload video": {
      "main": [
        [
          {
            "node": "share video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload image": {
      "main": [
        [
          {
            "node": "share image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post photo to telegram channel": {
      "main": [
        []
      ]
    },
    "Generate image": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload image",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post photo to telegram channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate video": {
      "main": [
        [
          {
            "node": "Upload a video",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload video",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post video to telegram channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "share image": {
      "main": [
        [
          {
            "node": "Facebook Image Container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "share video": {
      "main": [
        [
          {
            "node": "Facebook Reel Container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Image Container": {
      "main": [
        []
      ]
    },
    "Facebook Reel Container": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4a6f8770-e481-4f24-9bcf-1338d74fe507",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "64814982c06dd4c677b5a395878452b64f1bc5ea22371445b37d295a2fa1adf6"
  },
  "id": "ULOIR2Ukk7gLgxTv",
  "tags": []
}